name: CI Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install server dependencies
        run: |
          cd server
          npm install

      - name: Install client dependencies
        run: |
          cd client
          npm install

      - name: Test backend
        run: |
          cd server
          npm test || true
